target/
!.mvn/wrapper/maven-wrapper.jar
*.zip
!project/cloud-vcs/src/test/resources/*.zip

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
project/initializr/
project/initializr/*.*

*.bat
*.sh