<div class="dropdown projectProvidersDropDown">
	<button class="btn btn-default dropdown-toggle" type="button"
		id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
		aria-expanded="true">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		<li ng-click=" vm.myService.selected = item "
			ng-repeat="item in vm.myService.myItems">
			<!--  --> <a href="#">{{item.providerName}}</a>
		</li>
	</ul>
	<label class="dropdown-label" style="margin-left: 10px">{{vm.myService.selected.providerName}}</label>
</div>

<div>
	<table ng-table="vm.items"
		class="table table-condensed table-bordered table-striped">
		<tr ng-repeat="item in $data">
			<td title="vm.items.metadata.name.translation"
				ng-click="vm.select(item.data)" class="row"
				ng-attr-title="{{vm.status(item)}}"
				ng-style="item.data.disabled && {'background-color':'#D3D3D3'}"
				ng-class="{'selectedrow': vm.item.name == item.data.name}">{{item.data.name}}</td>
		</tr>
	</table>
	<br>

	<form name="vm.form" novalidate>
		<fieldset style="width: 100%">
			<button type="submit" class="btn btn-info update-button"
				ng-click="vm.update(vm.item)" ng-hide="!vm.item.name"
				ng-hide="vm.item.name && vm.item.disabled">
				{{vm.buttons.update}} {{vm.myService.selected.providerName}}</button>

			<button type="submit" class="btn btn-info" ng-click="vm.refresh()">{{vm.buttons.refresh}}
			</button>

			<button type="submit" class="btn btn-info" ng-click="vm.reset()"
				ng-hide="!(vm.item.name || vm.item.id)">{{vm.buttons.cancel}}
			</button>
		</fieldset>
	</form>
</div>