<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:annotation-config />

	<!-- Beans with annotations are detected only in this package (and subprojects) -->
	<context:component-scan base-package="com.sam.jcc.cloud" />

	<!-- Initializr beans -->
	<bean id="projectGenerator" class="io.spring.initializr.generator.ProjectGenerator" />
	<bean class="io.spring.initializr.metadata.InitializrMetadata" />
	<!-- bean class="io.spring.initializr.metadata.SimpleInitializrMetadataProvider" 
		/ -->
	<bean class="com.sam.jcc.cloud.adapter.StaticMetadataProvider" />
	<util:list id="emptyList"
		value-type="io.spring.initializr.generator.ProjectRequestPostProcessor" />
	<bean class="io.spring.initializr.generator.ProjectRequestResolver">
		<constructor-arg ref="emptyList" />
	</bean>
	<bean class="io.spring.initializr.util.GroovyTemplate" />
	<bean class="io.spring.initializr.generator.ProjectResourceLocator" />
	<bean class="org.springframework.web.client.RestTemplate" />
	<!-- end of Initializr beans -->

	<bean id="conversionService"
		class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="com.sam.jcc.cloud.mvc.dto.converter.AppConverter" />
				<bean class="com.sam.jcc.cloud.mvc.dto.converter.AppMetadataConverter" />
				<bean class="com.sam.jcc.cloud.mvc.dto.converter.HealthConverter" />
				<bean class="com.sam.jcc.cloud.mvc.dto.converter.ProjectConverter" />
				<bean class="com.sam.jcc.cloud.mvc.dto.converter.ProjectMetadataConverter" />
				<bean class="com.sam.jcc.cloud.mvc.dto.converter.VCSConverter" />
				<bean class="com.sam.jcc.cloud.mvc.dto.converter.VCSProjectConverter" />
				<bean class="com.sam.jcc.cloud.mvc.dto.converter.CIProjectConverter" />
				<bean class="com.sam.jcc.cloud.mvc.dto.converter.DbProjectConverter" />
				<bean class="com.sam.jcc.cloud.mvc.dto.converter.CQProjectConverter" />
			</set>
		</property>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Resolving ambiguity -->
	<bean id="vcsProviderService" name="vcsProviderService"
		class="com.sam.jcc.cloud.rules.service.impl.provider.VCSProviderService" />
	<bean id="ciProviderService" name="ciProviderService"
		class="com.sam.jcc.cloud.rules.service.impl.provider.CIProviderService" />


</beans>