body {
	color: #3270B7;
}

.navbar-inverse {
	background-image: linear-gradient(to bottom, #3270B7 0px, #224D7B 100%);
	border-color: #102338
}

.navbar {
	min-height: 110px;
	line-height: 50px;
}

.navbar-inverse .navbar-brand {
	color: #428BCA;
}

.marketing {
	margin-top: 110px;
	vertical-align: top;
}

.navbar-form .form-control {
	margin-right: 5px;
}

/*
*/
.ss-lang {
	min-width: 4em;
	top: 8px !important;
	width: 4em;
}

.custom.dropdown {
	margin-bottom: 0 !important;
	top: 8px;
	visibility: visible;
}

.ss-lang {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #3E3E3E;
	float: left;
	height: 2.45em;
	left: 0;
	top: 0 !important;
	transition: background-color 300ms ease-in-out 0s, border-color 300ms
		ease-in-out 0s;
}

.ss-lang {
	min-width: 4em;
	top: 8px !important;
	width: 4em;
}

.custom.dropdown {
	margin-bottom: 0 !important;
	top: 8px;
	visibility: visible;
}

/*
.body {
	bottom: 0;
	display: block;
	height: auto;
	left: 0;
	position: absolute;
	right: 0;
	margin: 0 auto;
}
*/
.glyphicon-chevron-right:before {
	content: "→";
	color: #224D7B;
	font-weight: bold;
}

.glyphicon-chevron-left:before {
	content: "←";
	color: #224D7B;
	font-weight: bold;
}

.carousel-control.left {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px,
		rgba(0, 0, 0, 0) 100%);
}

.carousel-control.right {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px,
		rgba(0, 0, 0, 0) 100%);
}

.slide1 {
	background-image: url("../images/cloud_welcome.png");
	background-repeat: no-repeat;
	background-position: center;
}

.slide2 {
	background-image: url("../images/what_is_cloud.png");
	background-repeat: no-repeat;
	background-position: center;
}

.slide3 {
	background-image: url("../images/engineering.png");
	background-repeat: no-repeat;
	background-position: center;
}

.jumbotron {
	background-color: #FFFFFF;
}

.disabled {
	z-index: 1000;
	background-color: lightgrey;
	opacity: 0.6;
	pointer-events: none;
}

.carousel-inner h1 {
	white-space: nowrap;
}

.footer {
	bottom: 0;
	position: absolute;
	width: 100%;
}